doctype html
html(xmlns="https://www.w3.org/1999/xhtml/" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" lang="en" xml:lang="en")
  head
    meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="x-apple-disable-message-reformatting")
    title ITINERANTUR
    
    include _style
    
    link(rel="icon" type="image/x-icon" href="/")
  body#body(style="margin:0; padding:0; width: 100%;min-width:100%; background: #ffffff;")
    table.wrapper(role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" lang="en")
      tr
        td
          p(style="margin:0 0 0 0;")  
        td(width="640" align="center" style="background-color: #122717;")
        
          table.headerStretch90(role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:auto;")
            tr
              td.paddnone(align="center" width="106" height="75" style="margin:auto; padding-right:207px; padding-left:207px")
                a#Link_TabernamLogo(href="http://localhost:3000/" target="_blank" name="Link_Itinerantur" title="Itinerantur.dev")
                  img(align="center" width="106" height="75" border="0" style="display: block; border: none; margin:auto" title="Itinerantur" alt="Itinerantur" src="../public/assets/images/logo1.png")
              td(align="right" width="60")
                span  
          
          table.stretch(width="640" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" style="border-collapse: collapse;")
            tr
              td.stretch(width="555" align="center" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height: 20px; color:#666665; padding-top: 10px;")
                a#Link_Hero(name="Link_Hero" target="_blank" href="http://localhost:3000/" style="text-decoration: none")
                  img.stretch(align="center" src="../public/assets/images/email/hero.jpeg" width="640" height="460" border="0" style=" width: 640px; height: 460px; display: block; border: none; color: #1f1f1f; margin:auto" alt="hero")
       
          table.stretch95p(role="presentation" width="550" cellspacing="0" cellpadding="0" border="0" align="center")
            tr
              td.paddnone(align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:13px; line-height: 20px; letter-spacing: 1px; text-align: center; padding:0 20px;")
                h1(style="font-family: miller-banner, 'Times New Roman', Times, serif; color:#fff; font-size:40px; line-height:44px; font-weight:400; font-style:normal; text-transform:uppercase; margin: 30px 0 10px 0;")
                  | Welcome To Itinerantur
                  h2(style="font-family: miller-banner, 'Times New Roman', Times, serif;margin-bottom: 5px;")
                    | Dear #{firstName}
                    |
                  p Thank you for creating an ITINERANTUR account, we're glad to have you.
                  p(style="margin: 0 0 0 0; margin-top: 10px; margin-bottom: 20px;")
                    | Holidays are all about slowing down, relaxing, and spending a couple of weeks just doing nothing right? Wrong! Holidays are all about having adventures, meeting new people, and doing things you love, in some of the world’s top spots. So strap on your flippers, grab your snowboard, and pump up those mountain-bike tyres, because we’re off on a whistle-stop tour of some of the best activity holidays in the world!.
                  p If you need any help with booking your next tour, please don't hesitate to contact us!
                  p - Adam Ali, CEO
          
          table.stretch95p(role="presentation" width="500" cellspacing="0" cellpadding="0" border="0" align="center")
            tr
              td.stretch(width="640" align="center" valign="top" style=" padding-top: 10px; padding-bottom: 40px;")
                table(role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse;")
                  tr
                    td(height="44" align="center" valign="middle" style="mso-border-alt: 1px solid #1d1d1d;")
                      a#Linkbtn_herocta(href="http://localhost:3000/" target="_blank" name="Linkbtn_herocta" style="color: #fff; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 13px; text-decoration: none; font-weight: bold; text-transform: uppercase; border: 1px solid #fff; letter-spacing: 1px; display: in-line; mso-border-alt:none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-right: 24px; padding-bottom: 14px; padding-left: 24px; padding-top: 16px;")
                        | See All Our Tours
    
          table.stretch(role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="center")
            tr
              td(align="center" valign="top")
                img.dlines(src="../public/assets/images/email/line.jpg" alt="" style="display: block; border: 0;" width="640" height="1")
  
          table.stretch(role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="center")
            tr
              td(align="center" valign="top" style="padding-top: 30px;")
                table(role="presentation" width="207" cellspacing="0" cellpadding="0" border="0" align="center")
                  tr
                    td(width="23" align="center")
                      a#imageLink_facebook(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        img(width="30" height="30" border="0" alt="Join us on Facebook" style="display: block;" src="../public/assets/images/email/facebook.png")
                    td(width="20" align="center" style="display: block;")
                      span
                    td(width="23" align="center")
                      a#imageLink_twitter(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        img(width="30" height="30" border="0" alt="Join us on Twitter" style="display: block;" src="../public/assets/images/email/twitter.png")
                    td(width="20" align="center" style="display: block;")
                      span
                    td(width="23" align="center")
                      a#imageLink_WeChat(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        img(width="30" height="30" border="0" alt="Join us on WeChat" style="display: block;" src="../public/assets/images/email/wechat.png")
                    td(width="20" align="center" style="display: block;")
                      span
                    td(width="23" align="center")
                      a#imageLink_Weibo(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        img(width="30" height="30" border="0" alt="Join us on Instagram" style="display: block;" src="../public/assets/images/email/instagram.png")
          
          table.stretch(role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="center")
            tr
              td(valign="top" align="center" style="font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 10px; line-height: 16px; padding-top: 20px;")
                | ITINERANTUR 123 High Road, Brinmore, London, 
                span(style="white-space: nowrap;")
                  | KA13 ‌7RN  , United  Kingdom
                br
                |   ITINERANTUR is registered in England No 12345
                br
                |   ©2021 www.itinerantur.dev
                br
                br
                |   We have recently updated our Privacy Policy to explain how we use personal data to advertise using digital advertising and social media companies. To understand more and for details on how to manage your preferences, please 
                a#txtLink_PrivacyPolicy1(href="#" target="_blank" title="Privacy Policy" name="txtLink_PrivacyPolicy1" style="color: #fff; font-size: 10px; line-height: 18px; text-decoration: underline;") click here
                | to view our full Privacy Policy
            tr
              td(valign="top" align="center" style="font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 10px; line-height: 18px; padding-top: 20px; padding-bottom: 10px;")
                a#txtLink_PrivacyPolicy(href="#" target="_blank" title="Security and Privacy" name="txtLink_PrivacyPolicy" style="color:#fff; font-size: 10px; line-height: 18px; text-decoration: underline;")
                  | Security &Privacy
                |                                 | 
                a#txtLink_TermsandConditions(href="#" target="_blank" title="Terms and Conditions" name="txtLink_TermsandConditions" style="color: #fff; font-size: 10px; line-height: 18px; text-decoration: underline;")
                  | Terms &Conditions
                |                                 | 
                a#txtLink_Unsubscribe(href="#" target="_blank" title="Unsubscribe" name="txtLink_Unsubscribe" style="color:#fff; font-size: 10px; line-height: 18px; text-decoration: underline;")
                  | Unsubscribe
                br
                a#txtLink_Preferences(href="#" target="_blank" title="Preferences" name="txtLink_Preferences" style="color: #fff; font-size: 10px; line-height: 18px; text-decoration: underline;") Change communication preferences
                |                                 | 
                a#txtLink_ViewOnline2(target="_blank" title="View online version" name="txtLink_ViewOnline" style="color:#fff; font-size: 10px; line-height: 18px; text-decoration: underline;" xt="SPCLICKTOVIEW" href="#")
                  | View online version
          
        td
          p(style="margin:0 0 0 0;")  
    img(src="https://emailtuna.com/images/newsletter/1x1.jpg" width="1" height="1" alt="")
    style(data-ignore-inlining="" litmus="true").
      @media print {
      #_t {
      background-image: url('https://wkham8xs.emltrk.com/wkham8xs?p&d=NTgwODI2MTQ4MzI5S0:12617873:22898456:MTY4MTE3OTA4MwS2');
      }
      }
      div.OutlookMessageHeader {
      background-image: url('https://wkham8xs.emltrk.com/wkham8xs?f&d=NTgwODI2MTQ4MzI5S0:12617873:22898456:MTY4MTE3OTA4MwS2')
      }
      table.moz-email-headers-table {
      background-image: url('https://wkham8xs.emltrk.com/wkham8xs?f&d=NTgwODI2MTQ4MzI5S0:12617873:22898456:MTY4MTE3OTA4MwS2')
      }
      blockquote #_t {
      background-image: url('https://wkham8xs.emltrk.com/wkham8xs?f&d=NTgwODI2MTQ4MzI5S0:12617873:22898456:MTY4MTE3OTA4MwS2')
      }
      #MailContainerBody #_t {
      background-image: url('https://wkham8xs.emltrk.com/wkham8xs?f&d=NTgwODI2MTQ4MzI5S0:12617873:22898456:MTY4MTE3OTA4MwS2')
      }
    #_t
    img(src="https://emailtuna.com/images/newsletter/1x1.jpg" width="1" height="1" border="0" alt="")
    img(src="https://emailtuna.com/images/newsletter/1x1.jpg" style="display: none")
