footer#footer
        .container
          .footer-top
            .container
              .row
                .col-12.col-sm-6.col-md-3
                  .footer-menu
                    strong.title Company
                    ul
                      li
                        a(href="#") About us
                      li
                        a(href="#") How it works ?
                      li
                        a(href="#") Our investors
                      li
                        a(href="#") Contact us
                      li
                        a(href="#") Work with us
                .col-12.col-sm-6.col-md-3
                  .footer-menu.elements
                    strong.title Support
                    ul
                      li
                        a(href="#") FAQ
                      li
                        a(href="#") Legal notices
                      li
                        a(href="#") Cancellation policy
                      li
                        a(href="#") Terms of use
                      li
                        a(href="#") Privacy policy
                .col-12.col-sm-6.col-md-3
                  .footer-menu
                    strong.title Follow us
                    ul
                      li
                        a(href="#") Press room
                      li
                        a(href="#") Our ambassadors
                      li
                        a(href="#") Magazine
                .col-12.col-sm-6.col-md-3
                  .footer-menu
                    strong.title Partners
                    ul
                      li
                        a(href="#") Offer your activities 
                      li
                        a(href="#") Become an affiliate 
          .container
            .footer-nav-holder
              .row.justify-content-between.align-items-center
                .d-none.d-md-block.col-sm-4.text-center
                  a(href='#"')
                .col-sm-4.text-md-center.text-lg-right
                  span.copyright © 2021 A NodeJs Project by Adam Ali 
            .footer-bottom
              .row.justify-content-between.align-items-center
                .col-md-6.text-center.text-md-left
                  #620481250
                .col-md-6.text-right
                  ul.social-list
                    li Follow us
                    li
                      a(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        span.icon-twitter
                    li
                      a(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        span.icon-facebook
                    li
                      a(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        span.icon-instagram
                    li
                      a(href="https://twitter.com/adam_gulled_ali" target="_blank")
                        span.icon-youtube
 

script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdyGSOEvVkdoSezOA3qBlj6zYEiw8KubE&libraries=places&language=en-GB")                        
script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

script(src="/assets/js/vendor.js")
 
script(src='https://js.stripe.com/v3/')
script(src='/assets/js/bundle.js')



